body {
  background: white;
}

p { 
	position: fixed;
    text-align: left;
	padding-top: 50px;
	padding-left: 50px;
    left: 0;
    top: 0;
	color:black;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 300;
	font-size:17px;
}

h1 { 
	position: fixed;
    text-align: left;
	padding-bottom: 50px;
	padding-left: 50px;
    left: 0;
    bottom: 0;
	color:black;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 300;
	font-size:17px;
}

h2 { 
	position: fixed;
    text-align: right;
	text-decoration: none;
	padding-right: 50px;
    right: 50%;
    top: 50%;
	color:black;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 300;
	font-size:17px;
}

a{
	
	color: black;
	text-decoration: underline;
	
}

h3 { 
	padding-top: 50px;
	padding-right: 50px;
	text-align:right;
	position: fixed;
	right: 0;
	top: 0;
	color:black;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 300;
	font-size:17px;
}
			
	
