body {
  background: green;
  transition: 0.3s all;
}

.changeColor {
   background: white;
}

p { 
	position: fixed;
    text-align: left;
	padding-top: 50px;
	padding-left: 50px;
    left: 0;
    top: 0;
    width: 100%;
	color:black;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 300;
	font-size:17px;
}

h1 { 
	position: fixed;
    text-align: right;
	text-decoration: none;
	padding-top: 50px;
	display: inline;
	padding-right: 50px;
    right: 0;
    top: 0;
    width: 100%;
	color:black;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 300;
	font-size:17px;
}

h2 { 
	position: fixed;
    text-align: right;
	padding-top: 50px;
	text-decoration: none;
	padding-right: 50px;
    right: 0;
    top: 0;
    width: 100%;
	color:black;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 300;
	font-size:17px;
}

a{
	color:black;
	text-decoration: underline;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 300;
	font-size:17px;
}

h3 { 
    position: fixed;
    text-align: right;
	padding-bottom: 20%;
	padding-right: 50px;
    right: 0;
    bottom: 0;
    width: 100%;
	color:black;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 300;
	font-size:17px;
}
			
	
			

